In [1]:
%load_ext autoreload
%autoreload 2

In [11]:
from bls_housing.census_cache import load_cbsa_df
import pandas as pd

#cbsa_df = pd.DataFrame( load_cbsa_df("2019", "01", force_download=True) )
cbsa_df = pd.DataFrame( load_cbsa_df("2010", "01") )
cbsa_df = pd.DataFrame( load_cbsa_df("2019", "10") )
cbsa_df = pd.DataFrame( load_cbsa_df("2019", "11") )

In [4]:
# test importing data/tb3u201901.txt file with new parser
from pathlib import Path

from bls_housing.census_txt_parser import convert_census_txt_to_data_frame

data_file = Path("../data/tb3u201901.txt")
df = convert_census_txt_to_data_frame(data_file)
print (f"Converted {len(df)} records to DataFrame.")
print(df.head())

Converted 368 records to DataFrame.
   CSA   CBSA                         Name  Total  1 Unit  2 Unit  \
0  999  10180                  Abilene, TX     24      22       2
1  184  10420                    Akron, OH     35      35       0
2  999  10500                   Albany, GA     29      29       0
3  440  10540           Albany-Lebanon, OR     29      24       0
4  104  10580  Albany-Schenectady-Troy, NY     96      64       0

   3 & 4 Units  5 or more Units  Num of Structures With 5 Units or more  \
0            0                0                                       0
1            0                0                                       0
2            0                0                                       0
3            0                5                                       1
4            0               32                                       4

   Monthly Coverage Percent
0                      98.0
1                      65.0
2                      93.0
3                      80.0
4                     100.0